<ion-content>
  <div>
    <!--code for header image-->
  </div>
  <div>
    <ion-button>$260</ion-button>
    <h1>The Biscuits</h1>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          Butter Biscuit
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div>Butter Biscuit</div>
          <ion-button>UPGRADE</ion-button>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-button>
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
          </div>
          <div>$2.60</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div>Butter Biscuit</div>
          <ion-button>UPGRADE</ion-button>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-button>
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
          </div>
          <div>$2.60</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        Order Total
      </ion-col>
      <ion-col size="4">
        $5.20
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        Menu
      </ion-col>
      <ion-col size="6">
        Pay
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>