<ion-content>
  <div>
    <!--code for header image-->
  </div>
  <div>
    <form>
      <h2>Enter Delivery Address</h2>
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="text" placeholder="Address" />
      <input type="text" placeholder="Apt" />
      <input type="text" placeholder="City" />
      <input type="text" placeholder="State" />
      <input type="text" placeholder="ZIP" />
      <h2>Payment Information</h2>
      <input type="text" placeholder="Card Number" />
      <input type="text" placeholder="Expiration" />
      <input type="text" placeholder="CVV" />
      <input type="text" placeholder="Card Zip" />
    </form>
  </div>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        Order Total
      </ion-col>
      <ion-col size="6">
        $9.16
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block">Complete Order</ion-button>
</ion-footer>