<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="upper">
                    <div class="form">
                        <form>
                            <h2>Enter Delivery Address</h2>
                            <input type="text" placeholder="First Name" />
                            <input type="text" placeholder="Last Name" />
                            <input type="text" placeholder="Address" />
                            <input type="text" placeholder="Apt" />
                            <input type="text" placeholder="City" />
                            <input type="text" placeholder="State" />
                            <input type="text" placeholder="ZIP" />
                            <h2>Payment Information</h2>
                            <input type="text" placeholder="Card Number" />
                            <input type="text" placeholder="Expiration" />
                            <input type="text" placeholder="CVV" />
                            <input type="text" placeholder="Card Zip" />
                        </form>
                    </div>
                </div>
                <div class="bottom">
                    <div class="total-bar">
                        <div class="col">
                            <div class="order-total text">
                                Order Total</div>
                            <div class="total-amount text">
                                $9.16
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ul class="link">
        <li>
            <a href="#">Complete Order <img class="next-icon" src="assets/images/next-finger.png" alt=""></a>
        </li>
    </ul>
</ion-footer>