<ion-content>
  <div>
    <!--code for header image-->
  </div>
  <div>
    <h2>
      You're All Set!
    </h2>

    <ion-grid>
      <ion-row>
        <ion-col size="6">Order Number:</ion-col>
        <ion-col size="6">1004</ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          Order Details:
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          1 Butter Biscuit, 1 Butter Biscuit w/egg, hash brown, tomato.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          Price & Payment
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          $12.16 VISA *4553
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          Delivery Address
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          7 Forest Street<br>
          Middleboro, MA 02346
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          Estimated Delivery Time
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col siz="12">
          10:15am
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block">Beat It.</ion-button>
</ion-footer>