<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="upper">
                    <h2>You're All Set!</h2>
                    <div class="order-biscuit">
                        <div class="col">
                            <div class="name">Order Number:</div>
                            <div class="number">1004</div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <h3>Order Details:</h3>
                        <p>1 Butter Biscuit, 1 Butter Biscuit w/egg, hash brown, tomato.</p>
                    </div>
                    <div class="order-detail">
                        <h3>Price & Payment</h3>
                        <p>$12.16 VISA *4553</p>
                    </div>
                    <div class="order-detail">
                        <h3>Delivery Address</h3>
                        <p>7 Forest Street<br> Middleboro, MA 02346</p>
                    </div>
                    <div class="order-detail">
                        <h3>Estimated Delivery Time</h3>
                        <p>10:15am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ul class="link">
        <li>
            <a href="#">Beat It. <img class="next-icon" src="assets/images/next-finger.png" alt=""></a>
        </li>
    </ul>
</ion-footer>