<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="upper">
                    <div class="upgrade-menu">
                        <div class="price-tag">
                            <div class="tag">
                                <sup>$</sup>1<sup>00</sup>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Make vegeterian</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add egg</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add cheese</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="upgrade-menu">
                        <div class="price-tag">
                            <div class="tag">
                                <sup>$</sup>2<sup>25</sup>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add a hash brown</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="upgrade-menu">
                        <div class="price-tag">
                            <div class="tag">
                                <sup>$</sup>0<sup>75</sup>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add lettuce</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add tomato</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Add onion</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="center">
                        <button>Cancel upgrade</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>