<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <h1>Let's Get Started.</h1>
            <h2>Please enter the basic info below to get started.</h2>
            <form>
                <input placeholder="First Name" type="text">
                <input placeholder="Last Name" type="text">
                <input placeholder="Email" type="email">
                <input placeholder="Password" type="password">
            </form>
            <button expand="block" class="submit" (click)="submitForm()">Submit</button>
            <button expand="block" class="fb-login">
                <ion-icon name="logo-facebook"></ion-icon> Continue with Facebook
            </button>
        </div>
    </div>
</ion-content>