

<ion-content>
  <h1>Let's Get Started.</h1>
  <h2>Please enter the basic info below to get started.</h2>
  <form>
    <ion-input placeholder="First Name" type="text"></ion-input>
    <ion-input placeholder="Last Name" type="text"></ion-input>
    <ion-input placeholder="Email" type="email"></ion-input>
    <ion-input placeholder="Password" type="password"></ion-input>
  </form>
  <ion-button expand="block">Submit</ion-button>
  <ion-button expand="block">
    <ion-icon name="logo-facebook"></ion-icon> Continue with Facebook
  </ion-button>
</ion-content>
