.wrapper {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 80px);
    .wrap {
        width: 100%;
    }
    .restaurant {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 10px;
        img {
            height: 120px;
            width: auto;
        }
    }
    .shop-hgt {
        background: #fff;
        display: flex;
        flex-direction: column;
        height: calc(100% - 140px);
        justify-content: space-between;
        .box-item {
            h2 {
                text-align: center;
                color: #000;
                font: 38px/1 'Bungee Inline', cursive;
                margin: 25px 0;
            }
            button {
                margin: 0 5px;
                background: #000;
                color: #fff;
                padding: 15px 10px 10px;
                font: 18px/1 'Bungee', cursive;
                border-radius: 5px;
                @media (min-width: 414px) {
                    margin: 0 10px;
                    font-size: 24px;
                }
            }
            &.box-flex {
                align-items: center;
                display: flex;
                justify-content: center;
                button {
                    margin: 0 10px 0 0;
                }
            }
        }
        .selected {
            text-align: center;
            h3 {
                background: #FAE45A;
                border-radius: 4px;
                color: #000;
                display: inline-block;
                font: 500 20px/1 Poppins;
                padding: 20px 0;
                text-decoration: none;
                text-align: center;
                width: 100%;
                margin: 0;
                vertical-align: top;
                @media (min-width: 414px) {
                    font-size: 24px;
                    max-width: 414px;
                }
            }
        }
        .upper,
        .bottom {
            padding: 0 20px;
        }
        .selected-biscuit {
            margin: 20px auto 0;
            max-width: 414px;
            .name {
                color: #000;
                font: 500 24px Poppins;
            }
            .edit {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    li {
                        margin: 0 0 0 10px;
                        button {
                            width: 36px;
                            height: 36px;
                            border-radius: 5px;
                            background: #000;
                            color: #fff;
                            font: 500 24px/1 Poppins;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            .col {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &.upgrade {
                    margin-top: 5px;
                    .name {
                        font-size: 20px;
                    }
                    .price {
                        color: #000;
                        font: 500 20px Poppins;
                    }
                }
            }
        }
        .total-bar {
            margin: 0 auto;
            max-width: 414px;
            flex: 0 0 414px;
            padding: 30px 0;
            .col {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .text {
                color: #000;
                font: 500 24px Poppins;
            }
        }
    }
}

ion-footer {
    color: #000000;
    background: #FBE97B;
    text-align: center;
    font: 500 20px Poppins;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 414px) {
        font-size: 24px;
    }
    .back-icon {
        width: 45px;
        margin-right: 10px;
    }
    .next-icon {
        width: 45px;
        margin-left: 10px;
    }
    .link {
        display: flex;
        flex: 0 0 100%;
        height: 100%;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (min-width: 414px) {
            flex: 0 0 414px;
            max-width: 414px;
        }
        li {
            align-items: center;
            display: flex;
            flex: 0 0 50%;
            justify-content: center;
            position: relative;
            width: 50%;
            a {
                align-items: center;
                color: #000000;
                display: flex;
                font: 500 20px Poppins;
                text-decoration: none;
                white-space: nowrap;
                @media (min-width: 414px) {
                    font-size: 24px;
                }
            }
            &:before {
                background: #000;
                content: "";
                height: 100%;
                left: -1px;
                position: absolute;
                top: 0;
                width: 2px;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
    }
}