<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="upper">
                    <h2>Your Order Summary</h2>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Butter Biscuit</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col upgrade">
                            <div class="name">UPGRADE</div>
                            <div class="price">$2.60</div>
                        </div>
                    </div>
                    <div class="selected-biscuit">
                        <div class="col">
                            <div class="name">Butter Biscuit</div>
                            <div class="edit">
                                <ul>
                                    <li><button>+</button></li>
                                    <li><button>-</button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col upgrade">
                            <div class="name">UPGRADE!</div>
                            <div class="price">$6.10</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="total-bar">
                        <div class="col">
                            <div class="order-total text">Subtotal</div>
                            <div class="total-amount text">$8.70</div>
                        </div>
                        <div class="col">
                            <div class="order-total text">Tax</div>
                            <div class="total-amount text">$8.70</div>
                        </div>
                        <div class="col">
                            <div class="order-total text">Delivery Fee</div>
                            <div class="total-amount text">$8.70</div>
                        </div>
                        <div class="col">
                            <div class="order-total text">Order Total</div>
                            <div class="total-amount text">$12.16</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ul class="link">
        <li>
            <a href="#"><img class="back-icon" src="assets/images/back-finger.png" alt=""> Back</a>
        </li>
        <li>
            <a href="#">Pay <img class="next-icon" src="assets/images/next-finger.png" alt=""></a>
        </li>
    </ul>
</ion-footer>