<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="upper">
                    <div class="box-item box-flex">
                        <button><sup>$</sup>2<sup>60</sup></button>
                        <h2>The Biscuits</h2>
                    </div>
                    <div class="shop-links">
                        <ul>
                            <li><a href="#">Butter Biscuit</a></li>
                            <li><a href="#">Sausage Biscuit</a></li>
                            <li><a href="#">Egg and Cheese Biscuit</a></li>
                            <li><a href="#">Fried Apple Biscuit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ul class="link">
        <li>
            <a href="#">
                <img class="back-icon" src="assets/images/back-finger.png" alt=""> Back to Menu
            </a>
        </li>
    </ul>
</ion-footer>