<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <div class="restaurant">
                <img src="assets/images/scratch-biscuit-logo.svg" alt="">
            </div>
            <div class="shop-hgt">
                <div class="box-item">
                    <h2>
                        THE BISCUITS
                    </h2>
                    <div class="cta-row">
                        <button (click)="openSubMenu()"><sup>$</sup>2<sup>60</sup></button>
                        <button><sup>$</sup>3<sup>60</sup></button>
                        <button><sup>$</sup>4<sup>60</sup></button>
                    </div>
                </div>
                <div class="box-item">
                    <h2>
                        Snacks and More
                    </h2>
                    <div class="cta-row">
                        <button>SIDES</button>
                        <button>SWEET STUFF</button>
                        <button>PLATTERS</button>
                    </div>
                </div>
                <div class="box-item">
                    <h2>
                        LUNCH MENU
                    </h2>
                    <div class="cta-row">
                        <button>SANDIES</button>
                        <button>PO' BOYS</button>
                        <button>SIDES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    Current Delivery Time: 45min
</ion-footer>