.wrapper {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
    @media (min-width: 414px) {
        min-height: calc(100vh - 80px);
    }
    .wrap {
        width: 100%;
    }
    .restaurant {
        align-items: center;
        border-bottom: 2px solid #fae45a;
        display: flex;
        justify-content: center;
        padding: 10px;
        img {
            height: 120px;
            width: auto;
        }
    }
    .shop-hgt {
        height: calc(100% - 142px);
        background: #fff;
        .box-item {
            border-top: 2px solid #FAE45A;
            h2 {
                text-align: center;
                color: #000;
                font: 38px/1 'Bungee Inline', cursive;
                margin: 25px 0;
            }
            .cta-row {
                display: flex;
                justify-content: center;
                margin: 20px 0;
            }
            button {
                margin: 0 5px;
                background: #000;
                color: #fff;
                padding: 15px 10px 10px;
                font: 18px/1 'Bungee', cursive;
                border-radius: 5px;
                @media (min-width: 414px) {
                    margin: 0 10px;
                    font-size: 24px;
                }
            }
        }
    }
}

ion-footer {
    align-items: center;
    color: #000000;
    background: #FBE97B;
    display: flex;
    font: 500 20px Poppins;
    height: 60px;
    justify-content: center;
    text-align: center;
    @media (min-width: 414px) {
        font-size: 24px;
        height: 80px;
    }
}