<ion-content>
    <div class="wrapper">
        <div class="wrap">
            <h1>
                Hi, Zack! Where Are You Ordering From?
            </h1>
            <div class="promotion">
                <div class="icon"><img src="assets/images/taco-emoji.svg" alt=""></div>
                <h3>It’s Taco Tuesday!</h3>
                <div class="icon"><img src="assets/images/taco-emoji.svg" alt=""></div>
            </div>
            <div class="restaurant-list">
                <ul>
                    <li (click)="chooseShop()">
                        <a class="sbl"><img src="assets/images/scratch-biscuit-logo.svg" alt=""></a>
                    </li>
                    <li>
                        <a class="vgl"><img src="assets/images/the-village-girl-logo.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>